@page "/"
@inject HttpClient Http

@if (count == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="font-size: 50vh; line-height: 100vh; text-align: center;">@count</div>
}

@code {
    private int? count;

    protected override async Task OnInitializedAsync()
    {
        Http.BaseAddress = new Uri("https://localhost:5000");
        count = await Http.GetJsonAsync<int>("/count");
    }
}
